<% reviews = @article.reviews %>
<section class="ui">
  <h1>Reviews</h1>
  <ol>
    <% if reviews.present? %>
      <% reviews.each do |review| %>
        <li>
          <%= time_tag review.reviewed_at %>,
          <%= review.response_quality %>
        </li>
      <% end %>
    <% else %>
      <div class="no-data">(No reviews)</div>
    <% end %>
  </ol>
  <%= form_for([@article, @article.reviews.build],
               html: {class: 'form-inline'}) do |f| %>
    <fieldset class="form-group">
      <%= f.select :response_quality,
        Review::RESPONSE_RATINGS.map(&:reverse),
        {},
        class: 'form-control', style: 'width: 15em'
      %>
    </fieldset>
    <fieldset class="form-group">
      <%= f.submit 'Review', class: 'btn btn-secondary' %>
    </fieldset>
  <% end %>
  <%# <%= button_to 'Mark as reviewed', %>
  <%#   mark_as_reviewed_article_path(@article), %>
  <%#   class: 'btn btn-secondary btn-sm' %1> %>
</section>
