<% reviews = @article.reviews %>
<section class="ui">
  <h1>Reviews</h1>
  <table class="table table-sm">
    <% if reviews.present? %>
      <% reviews.each do |review| %>
        <tr>
          <td><%= time_tag review.reviewed_at, format: :short %></td>
          <td><%= review.response_quality_html %></td>
        </tr>
      <% end %>
      <% if @article.next_review_at.present? %>
        <tr class="no-data">
          <td><%= time_tag @article.next_review_at, format: :short %></td>
          <td>Next</td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td class="no-data">(No reviews)</td>
      </tr>
    <% end %>
  </table>
  <%= form_for([@article, Review.new],
               html: {class: 'form-inline'}) do |f| %>
    <fieldset class="form-group">
      <%= f.select :response_quality,
        Review::RESPONSE_RATINGS.to_a.map(&:reverse),
        {},
        class: 'form-control', style: 'width: 15em'
      %>
    </fieldset>
    <fieldset class="form-group">
      <%= f.submit 'Review', class: 'btn btn-secondary' %>
    </fieldset>
  <% end %>
</section>
