<div class="row">
  <div class="col-lg-5">
    <div class="text-column article-preview">
      <%= render 'article_contents' %>
    </div>
  </div>
  <section class="ui col-lg-5">
    <h1>Edit article</h1>
    <%= form_for(@article, html: {class: 'text-column'}) do |f| %>
      <fieldset class="form-group">
        <%= f.label :title, class: 'sr-only' %>
        <%= f.text_field :title, placeholder: 'Title',
          class: 'form-control form-control-lg'
        %>
      </fieldset>
      <fieldset class="form-group">
        <%= f.text_area :body, class: 'form-control', rows: 30 %>
      </fieldset>
      <fieldset class="form-group">
        <%= f.select :markup_language, MarkupLanguage.select_options,
          {}, class: 'form-control' %>
      </fieldset>
      <fieldset class="form-group clearfix">
        <%= f.submit 'Save', class: 'btn btn-primary' %>
        <%= f.submit 'Autosave', name: 'autosave',
          class: 'btn btn-secondary' %>
        <%= link_to 'Back', @article, class: 'btn btn-link' %>
      </fieldset>
    <% end %>
  </section>
  <div class="col-lg-2">
    <%= render "revisions" %>
  </div>
</div>
