<div class="row">
  <div class="col-md-7">
    <div class="text">
      <%= render 'article_contents' %>
    </div>
  </div>
  <div class="col-md-5">
    <nav class="form-group">
      <%= link_to 'â† Back', articles_path %>
    </nav>

    <%= render 'flash_messages' %>

    <%= render "revisions", show_actions: true %>
    <%= render "reviews" %>
  </div>
</div>
