<div>
  <%= link_to 'â† Back', articles_path %>
</div>

<!--p id="notice"><%= notice %></p-->

<%= link_to 'Edit', edit_article_path(@article), class: 'btn btn-secondary' %>
<h1> <%= @article.title %></h1>

<%= markdown @article.body %>

