<div class="row">
  <div class="col-md-7">
    <div class="text-column">
      <%= render 'article_contents' %>
    </div>
  </div>
  <div class="col-md-5">
    <%= render 'flash_messages' %>

    <%= render "revisions", show_actions: true %>
    <%= render "reviews" %>
    <section class="ui">
      <h1>Cards</h1>
      <%= link_to 'Cards list', article_cards_path(@article) %>
    </section>
  </div>
</div>
