.row
  .col-md-7
    .text-column
      = render 'article_contents'
  .col-md-5
    = render 'flash_messages'

    %section.ui.clearfix
      = render 'revisions', model: @article, show_actions: true
      - if !@article.soft_destroyed?
        = link_to 'Edit', edit_article_path(@article),
          class: 'btn btn-secondary'
      - else
        = button_to 'Restore', restore_article_path(@article),
          class: 'btn btn-secondary', form_class: 'inline'
      - if !@article.soft_destroyed? && @article.revisions.present?
        = button_to 'Delete article', article_path(@article),
          method: :delete,
          class: 'btn btn-danger-outline', form_class: 'pull-xs-right',
          data: {confirm: 'Are you sure?' }
      - else
        = button_to 'Delete forever', article_path(@article, forever: true),
          method: :delete,
          class: 'btn btn-danger-outline', form_class: 'pull-xs-right',
          data: {confirm: 'Are you sure?' }

    %section.ui
      %h1 Cards
      = link_to pluralize(@article.card_count, 'card'),
        article_cards_path(@article),
        class: 'large'

      = button_to 'Update cards',
        update_cards_article_path(@article),
        class: 'btn btn-secondary btn-sm'
