<nav class="form-group">
  <%= link_to 'â† Back', articles_path %>
</nav>

<%= render 'flash_messages' %>

<div class="row">
  <div class="col-md-5 col-md-push-7">
    <%= render "revisions", show_actions: true %>
    <section class="ui">
      <h1>Reviews</h1>
      <% if @article.ever_reviewed? %>
        Last reviewed <%= time_ago_in_words(@article.last_reviewed_at) %> ago,
        in total <%= pluralize(@article.review_count, 'review') %> over
        <%= time_ago_in_words(@article.first_reviewed_at) %>.
      <% else %>
        Never reviewed
      <% end %>
      <%= button_to 'Mark as reviewed',
        mark_as_reviewed_article_path(@article),
        class: 'btn btn-secondary btn-sm' %>
    </section>
  </div>
  <div class="col-md-7 col-md-pull-5">

    <div class="text">
      <h1> <%= @article.title %></h1>

      <%= markdown @article.body %>
    </div>
  </div>
</div>
