<% reviews = @card.reviews %>
<section class="ui">
  <h1>Reviews</h1>
  <table class="table table-sm">
    <% if reviews.present? %>
      <% reviews.each do |review| %>
        <tr>
          <td><%= time_tag review.reviewed_at, format: :short %></td>
          <td><%= review.grade_html %></td>
          <td width="1em">
            <%= button_to '×', [@card, review],
              method: :delete,
              class: 'btn btn-sm btn-danger-outline',
              data: {confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
      <% if @card.next_review_at.present? %>
        <tr class="no-data">
          <td><%= time_tag @card.next_review_at, format: :short %></td>
          <td>Next</td>
          <td></td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td class="no-data">(No reviews)</td>
      </tr>
    <% end %>
  </table>
  <%= form_for([@card, Review.new],
               html: {class: 'form-inline'}) do |f| %>
    <fieldset class="form-group">
      <%= f.select :grade, ReviewGrade.select_options, {},
        class: 'form-control' %>
    </fieldset>
    <fieldset class="form-group">
      <%= f.submit 'Review', class: 'btn btn-secondary' %>
    </fieldset>
  <% end %>
</section>
