.row
  .col-md-7
    %h1 Card
    .text-column
      = content_tag :div, class: ['kb-card', 'review'] do
        = link_to @card.article.title_html, article_path(@card.article)
        = content_tag(:em, [@card.id, @card.path].join(' '),
          class: @card.soft_destroyed? ? "deleted" : "")
        = @card.body_html
  .col-md-5
    = render 'reviews'

    %section.ui.large
      = link_to 'Review card', params.merge(:review => true)
    %section.ui
      = link_to 'Next card', 'next'
      %br
      = link_to 'Prev card', 'prev'

    = render "revisions", model: @card, show_actions: true
