<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>Knowledge Base</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-full m-b-1 navbar-light bg-faded">
    <span class="navbar-brand">KB</span>
    <div class="nav navbar-nav">
      <%= nav_link('Articles', '/articles') %>
    </div>
  </nav>
  <div class="container-fluid">
    <%= yield %>
  </div>

</body>
</html>
